<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdDcynF5TjxFEWSltLCyE5ewNxuEUOqxk</string>
	<key>GCM_SENDER_ID</key>
	<string>1036953676969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.githubaction.app.stg</string>
	<key>PROJECT_ID</key>
	<string>github-action-st</string>
	<key>STORAGE_BUCKET</key>
	<string>github-action-st.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036953676969:ios:25ba38aed6fabbd5280db8</string>
</dict>
</plist>